* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

*::selection {
    background-color: lightgray;
}

body {
    color: #403E57;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 95vh;
}

i {
    color: #3f3d56;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.link:hover {
    transform: scale(1.25);
}

a {
    text-decoration: none;
    color: black;
}

#construction-header {
    margin: 30px 0 0 0;
    animation: 2s linear fadeIn;
}

#construction-image {
    width: 65%;
    height: auto;
    opacity: 0;
    animation: 2s linear 0.5s forwards fadeIn;
}

#contact-header {
    opacity: 0;
    animation: 2s linear 1.5s forwards fadeIn;
}

.links {
    opacity: 0;
    pointer-events: none;
    animation: 2s linear 2.5s forwards fadeIn;
}

#name {
    opacity: 0;
    animation: 2s linear 3.5s forwards fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        pointer-events: all;
        opacity: 1;
    }
}
