* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

*::selection {
    background-color: lightgray;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 95vh;
    animation: whenPageIsLoad 2s;
}

img {
    width: 65%;
    height: auto;
}

i {
    color: #3f3d56;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.link:hover {
    transform: scale(1.25);
}

a {
    text-decoration: none;
    color: black;
}

@keyframes whenPageIsLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
